<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hybel<br />
    8515 Narvik<br />
    <abbr title="Phone">Tlf:</abbr>
    112 23 344
</address>

<address>
    <strong>Epost:</strong>   <a href="mailto:530324@student.hin.no">530324@student.hin.no</a><br />
</address>